*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

.aboutme-container
{
    width: 80%;
    height:auto;
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    align-items: center;
    border: solid 1px rgb(239, 235, 235);
    border-radius: 10px;

}
.aboutme-container .mypic
{
    width: 40%;
    height: auto;
    background-color: rgb(16, 99, 39);
}
.aboutme-container .aboutme-text
{
    width: 60%;
    height: auto;
    text-align: justify;
    padding:20px;
    color: white;

}
.aboutme-container .aboutme-text h2
{
    font-size: 30px;
    margin-bottom: 8px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: -3px;
    color: cyan;
}
.aboutme-container .aboutme-text li
{
    font-size: 20px;
    line-height: 30px;
    width: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.btn2
{
    margin:10px 0px;
    display: flex;
    gap: 20px;
}
.btn2 button span
{
    margin-left: 10px;
    margin-top: 5px;
}
.btnresume
{
    padding:10px 20px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: rgb(56, 135, 190);;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.btnresume:hover
{
    background-color: rgb(96, 67, 226);
    transition: all 0.5s ease;
    scale: 1.08;
}
.readmore
{
    padding:10px 20px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    position: relative;
    display: flex;
    align-items: center;
    color: white;
    
}
.readmore:hover
{
    cursor: pointer;
    color: rgb(0, 217, 255);
    transition: all 0.5s ease;
    scale: 1.08;
}
.readmore::before
{
    content:' ';
    position: absolute;
    width:0px;
    height:50%;
    border-bottom: solid 2px rgb(0, 217, 255);;
    transition: width 0.5s linear;
}
.readmore:hover::before
{
    width:75%;
    border-bottom: solid 2px rgb(0, 217, 255);;
}