.splash-container
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    position: fixed;
    z-index: 9999;
}
.splash
{
    height:40%;
    padding: 20px;
    width: 50%;
}
.splash-head
{
    width:70%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    display: flex;
    font-family: sans-serif;
    align-items: center;
}
.splash-head h1
{
    color: #ffff;
    font-weight: 100;
    font-size: 48px;
}
.splash-head img
{
    height:80px;
    width:80px;
    border-radius: 50%;
    border: solid 4px #04D3F6;
    background-color: black;
    padding:10px;
    box-shadow: 0px 0px 35px #11899e;
    animation: shadowani 1.5s infinite;
    transition: all 0.5s ease;
}
.progressbar-pare
{
    width: 65%;
    height: auto;
    margin: 25px auto;
    background-color: rgb(59, 58, 58);
    align-items: center;
    flex-direction: column;
     border-radius: 10px;
}
.progressbar
{
    width: 0%;
    height: 5px;
    background-image: linear-gradient(90deg, #04D3F6, rgb(102, 134, 221));
    border-radius: 10px;
    overflow: hidden;
    animation: load 3s;
}

.splash_footer{
    margin: 20px 0px;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}
.splash_footer h4
{

    animation: blink 1.5s infinite;
}
@keyframes blink{
    0%{opacity:1;}
    50%{opacity:0;}
    100%{opacity:1;}
}
@keyframes shadowani
{
    0%{box-shadow: 0px 0px 45px #11899e;
    transform:rotate(10deg)  scale(1.05) ;
    }
    50%{box-shadow: 0px 0px 55px #1fc3dc;}
    100%{box-shadow: 0px 0px 45px #11899e;}
}