*
{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
html, body, #root {
  width: 100%;
  height: auto;
  margin: 0;
}

/* Force Finisher canvas fullscreen */
.finisher-header {
  min-height: 400vh;
  position: relative;
}

